<?xml version="1.0" encoding="UTF-8"?>
<web-app 
   xmlns="http://java.sun.com/xml/ns/javaee" 
   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
   xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
   version="2.5"> 
  <display-name>Genetic Calculator</display-name>
  
  <servlet>
    <servlet-name>gennum</servlet-name>
    <servlet-class>gennum.core</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>gennum</servlet-name>
    <url-pattern>/</url-pattern>
  </servlet-mapping> 

  <security-constraint>
    <web-resource-collection>
      <url-pattern>/admin/repl*</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>admin</role-name>
    </auth-constraint>
  </security-constraint>


</web-app>
